* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

/* khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ====================== comon =============== */
a {
  text-decoration: none;
}
.main-conten {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.27;
  letter-spacing: -2%;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0px 16px;
  line-height: 50px;
  color: white;
  font-weight: 600;
  font: size 1.6rem;
  text-align: center;
  border-radius: 999px;
  background: black;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp, 1);
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* ================= header ============== */
.header {
  background: #fffcf4;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* ============== hero ============ */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* =============== hero left =========== */
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .hero-summary {
  padding: 24px;
  width: 240px;
  position: absolute;
  bottom: 48px;
  right: 0;
  background: white;
  border-radius: 12px;
  box-shadow: 0 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.hero-summary .icon2 {
  background-color: #fcefff;
}

.hero-summary .icon3 {
  background-color: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  line-height: 1.67;
  font-weight: 600;
}

/* ================ hero right ============== */

.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

.hero .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 5.7rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.hero .cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .watch-video {
  margin-left: 28px;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-left: 14px;
}

.hero .desc-recent {
  margin-top: 48px;
}

.hero .start {
  margin-top: 8px;
}

.hero .start strong {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  margin-right: 15px;
}

.hero .start strong:nth-child(2) {
  margin-left: 28px;
}

/* ============== popular ============ */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 40px;
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  cursor: pointer;
}

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  flex: 1;
  border-radius: 12px;
  background: white;
  border: 1px solid #e2dfda;
}

.popular .course-item:hover {
  border-radius: 12px;
  border: 1px solid transparent;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  background: white;
}

.popular .course-item .thumb {
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 278px;
  object-fit: cover;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popular .rating .value {
  margin-left: 6px;
  color: #ffb900;
  font-size: 1.6rem;
  line-height: 1.75;
}

.popular .course-item .desc {
  margin-top: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .price {
  color: #171100;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
}

.popular .course-item .btn-book {
  border: none;
}

.popular .course-item .btn-book:hover {
  cursor: pointer;
  background: var(--primary-color);
}

/* ================= feedback ============== */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}
.feedback-item {
  display: flex;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.feedback-item .info .member-name {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.feedback-item .dots {
  display: flex;
  margin-top: 28px;
  gap: 6px;
}

.feedback-item .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}

.feedback-item .dots .dot.active {
  width: 12px;
  background: #ffb900;
}

.feedback-item .content {
  width: 68%;
  margin-left: auto;
}

.feedback-item blockquote {
  color: white;
  font-style: Italic;
  font-size: 2.6rem;
  line-height: 1.54;
}

/* ================= features 1 ============== */

.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images {
  display: flex;
  gap: 30px;
}

.features .images img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}
.features .images .lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .content .cta-btn {
  width: 137px;
  height: 50px;
  margin-top: 32px;
  background-color: var(--primary-color);
}

/* ================= features 2 ============== */
.features-2nd {
  margin-top: 70px;
}

.features-2nd .content {
  width: 50%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
}

/* ================= blogs ============== */
.blogs {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blogs .blog-top {
  text-align: center;
}

.blogs .blog-top .desc {
  margin: 16px auto 0;
  width: 448px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blogs .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.blogs .item {
  width: 33.33%;
  border-radius: 16px;
  background: white;
}

.blogs .item:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.blogs .item .thumb {
  width: 100%;
  height: 250px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.blogs .item .info {
  padding: 20px 20px 28px;
}

.blogs .item .date {
  position: relative;
  padding-bottom: 12px;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}

.blogs .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.blogs .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  width: 160px;
  height: 1px;
  background-color: #e2dfda;
  border-radius: 0.5px;
}

.blogs .item .title {
  margin-top: 12px;
  color: #171100;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blogs .item .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blogs .item .btn:hover {
  background: var(--primary-color);
  cursor: pointer;
}

.blogs .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blogs .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.blogs .dots .dot.active {
  background: #ffb900;
  cursor: default;
}

/* ================= blogs ============== */
footer {
  padding: 96px 135px 0;
  background: #2e2100;
}

.footer .row {
  display: flex;
  padding-bottom: 18px;
  border-bottom: 1px solid #5f5b53;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
  max-width: 267px;
}

.footer .socials {
  margin-top: 18px;
  display: flex;
  gap: 16px;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  border-bottom: 1px solid #5f5b53;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: white;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
  text-align: center;
}
